
.novidades{
    display: flex;    
    
    
    .video{
        margin: 5px 5px 5px 5px;
        .vd {        
            min-width:424px;
            min-height:240px;
            object-fit: cover;        
        }
    }
    overflow-x: scroll;
    scrollbar-color: rebeccapurple green;
}
.series,.filmes{
    display: flex;    
    
    
    .video{
        margin: 5px 5px 5px 5px;
        .vd {        
            min-width:424px;
            min-height:240px;
            object-fit: cover;        
        }
    }
    overflow-x: scroll;
    scrollbar-color: rebeccapurple green;
}
