{% extends 'html/base.html' %}

{% block dashboard %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/dashboard/dashboard.css')}}">
<section class='novidades'>
    <div class='video'>
        <iframe class='vd' frameborder="0" src="https://mega.nz/embed/9at0gLZR#jh-87mdYqAAlzejRltdodCLAsm7Nubxm0VDT5tQ9C2U" allowfullscreen ></iframe>
    </div>
    <div class='video'>
        <iframe class='vd' frameborder="0" src="https://mega.nz/embed/9at0gLZR#jh-87mdYqAAlzejRltdodCLAsm7Nubxm0VDT5tQ9C2U" allowfullscreen ></iframe>
    </div>
    <div class='video'>
        <iframe class='vd' frameborder="0" src="https://mega.nz/embed/9at0gLZR#jh-87mdYqAAlzejRltdodCLAsm7Nubxm0VDT5tQ9C2U" allowfullscreen ></iframe>
    </div>
    <div class='video'>
        <iframe class='vd' frameborder="0" src="https://mega.nz/embed/9at0gLZR#jh-87mdYqAAlzejRltdodCLAsm7Nubxm0VDT5tQ9C2U" allowfullscreen ></iframe>
    </div>
</section>
<section class='series'>
    <div class='video'>
        <iframe class='vd' frameborder="0" src="https://mega.nz/embed/9at0gLZR#jh-87mdYqAAlzejRltdodCLAsm7Nubxm0VDT5tQ9C2U" allowfullscreen ></iframe>
    </div>
    <div class='video'>
        <iframe class='vd' frameborder="0" src="https://mega.nz/embed/9at0gLZR#jh-87mdYqAAlzejRltdodCLAsm7Nubxm0VDT5tQ9C2U" allowfullscreen ></iframe>
    </div>
</section>
<section class='filmes'>
    <div class='video'>
        <iframe class='vd' frameborder="0" src="https://mega.nz/embed/9at0gLZR#jh-87mdYqAAlzejRltdodCLAsm7Nubxm0VDT5tQ9C2U" allowfullscreen ></iframe>
    </div>
    <div class='video'>
        <iframe class='vd' frameborder="0" src="https://mega.nz/embed/9at0gLZR#jh-87mdYqAAlzejRltdodCLAsm7Nubxm0VDT5tQ9C2U" allowfullscreen ></iframe>
    </div>
</section>
{% endblock %}