{% extends "html/base.html" %}
{% block index %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index/index.css')}}">

<h1>Login</h1>
<form id="form" method="POST" action="/">
  
  <div class='itens_form'>
    {{ form.email.label(id='lb_email') }} 
    {{ form.email(size=10,placeholder='Seu_Email@gmail.com',id='ipt_email')}}
  </div>   
  <div class='itens_form'>
    {{ form.senha.label(id='lb_senha') }} 
    {{ form.senha(size=10,placeholder='Senha',id='ipt_senha')}}
  </div>
  <div class='itens_form'>
    <div>
        {{form.recaptcha(id='ipt_recaptcha')}} 
    </div>
    <div>
      {{form.remember.label(id='lb_remember')}}
      {{form.remember(id='ipt_remember')}}
    </div>
    <input id='btn_submit' type="submit" value="Login">
    {{ form.csrf_token(id='csrf_token') }}
  
  </div>   
  
</form>           
{% endblock %}

