{% extends "html/base.html" %}
{% block index %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index/index.css')}}">


<form method="POST" action="/">  
  {{ form.csrf_token }}
  <div>
    {{ form.nome.label }} 
    {{ form.nome(size=10,placeholder='Nome')}}
  </div>   
  <div>
    {{ form.senha.label }} 
    {{ form.senha(size=10,placeholder='Senha')}}
  </div>   
  <div>
    {{form.protocol.label}}
    {{form.protocol()}}
  </div>   
  <div>
    {{form.remember.label}}
    {{form.remember()}}
  </div>   
  <input id='btn_submit' type="submit" value="Login">
</form>           
{% endblock %}

