
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #ebe3e3;

    /* Grid */
    #main {        
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e26767;
        height: 100vh;
        #home{
            background-color: blue;
            min-width: 500px;
            min-height: 500px;
        }
    }

}

